.clients {
    padding-top: 115px;
}

.clients__heading {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}

.clients__container {
    display: flex;
    flex-direction: column;
}

.display-info {
    padding-left: 20px;
    margin-bottom: 10px;
    display: block;
}

.display-info__wrapper {
    display: flex;
    align-items: center;
}

.display-info__item {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-silver-chalice);
}

.display-info__item--id,
.display-info__sorting {
    text-transform: uppercase;
    color: var(--color-emerald);
}

.display-info__item--id,
.display-info__item--name,
.display-info__item--create,
.display-info__item--change {
    cursor: pointer;
    user-select: none;
}

.display-info__item--id {
    padding-right: 13px;
    margin-right: 60px;
    background-position: right center;
}

.display-info__item--name {
    padding-left: 48px;
    background-position: right 18px center;
}

.display-info__sorting {
    padding-left: 11px;
    font-size: 10px;
}

.display-info__item--create {
    position: relative;
    padding-right: 70px;
    padding-left: 200px;
}

.display-info__item--create::before {
    content: 'создания';
    position: absolute;
    right: 0;
    top: 1px;
    margin-right: 13px;
}

.display-info__item--change {
    position: relative;
    padding-right: 80px;
    margin-right: 28px;
    padding-left: 30px;
}

.display-info__item--change::before {
    content: 'изменения';
    position: absolute;
    right: 0;
    top: 1px;
    margin-right: 13px;
}

.display-info__item--contacts {
    padding-left: 30px;
}

.display-info__item--actions {
    padding-left: 100px;
}

.clients__btn {
    display: flex;
    flex-direction: row-reverse;
    padding: 12px 26px;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    border: 1px solid var(--color-emerald);
    color: var(--color-emerald);
}

.clients__btn svg {
    display: block;
    margin-right: 10px;
    transition: fill .3s ease-in-out;
    fill: var(--color-emerald);
}

.clients__btn:hover {
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    background-color: var(--color-emerald);
    color: var(--color-white);
}

.clients__btn:hover svg {
    transition: fill .3s ease-in-out;
    fill: var(--color-white)
}

.create__span,
.change__span {
    display: inline-block;
    width: 7px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.sort-up,
.sort-down {
    background-repeat: no-repeat;
}

.sort-up {
    background-image: url('../img/arrow-up.svg');
}

.sort-down {
    background-image: url('../img/arrow-down.svg');
}

.display-info__item--change,
.display-info__item--create {
    background-image: none;
}

.clients__wrapper {
    position: relative;
    overflow: auto;
}