.delete-modal__content {
    min-width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-modal__title {
    margin-bottom: 11px;
}

.delete-modal__text {
    margin: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 275px;
    color: var(--color-black3);
}

.delete-modal__delete,
.delete-modal__back {
    display: block;
}

.delete-modal__delete {
    position: relative;
    padding: 12px 35px;
    align-self: center;
    margin-bottom: 5px;
}

.delete-modal__back {
    font-weight: 400;
    align-self: center;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--color-black3);
    color: var(--color-black3);
}