.preloader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: var(--color-white);
  }
  
  #loader {
    --background: #62ABFF;
    --front-color: #8052ff;
    --back-color: #C3C8DE;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
  }
  #loader svg circle.back {
    stroke: var(--back-color);
  }
  #loader svg circle.front {
    stroke: var(--front-color);
  }
  #loader svg.circle-outer {
    height: 86px;
    width: 86px;
  }
  #loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
  }
  #loader svg.circle-outer circle.back {
    -webkit-animation: circle-outer 1.8s ease infinite 0.3s;
            animation: circle-outer 1.8s ease infinite 0.3s;
  }
  #loader svg.circle-outer circle.front {
    -webkit-animation: circle-outer 1.8s ease infinite 0.15s;
            animation: circle-outer 1.8s ease infinite 0.15s;
  }
  #loader svg.circle-middle {
    height: 60px;
    width: 60px;
  }
  #loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
  }
  #loader svg.circle-middle circle.back {
    -webkit-animation: circle-middle 1.8s ease infinite 0.25s;
            animation: circle-middle 1.8s ease infinite 0.25s;
  }
  #loader svg.circle-middle circle.front {
    -webkit-animation: circle-middle 1.8s ease infinite 0.1s;
            animation: circle-middle 1.8s ease infinite 0.1s;
  }
  #loader svg.circle-inner {
    height: 34px;
    width: 34px;
  }
  #loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
  }
  #loader svg.circle-inner circle.back {
    -webkit-animation: circle-inner 1.8s ease infinite 0.2s;
            animation: circle-inner 1.8s ease infinite 0.2s;
  }
  #loader svg.circle-inner circle.front {
    -webkit-animation: circle-inner 1.8s ease infinite 0.05s;
            animation: circle-inner 1.8s ease infinite 0.05s;
  }
  #loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  #loader .text::before, #loader .text::after {
    content: attr(data-text);
  }
  #loader .text::before {
    color: var(--text-color);
  }
  #loader .text::after {
    color: var(--front-color);
    -webkit-animation: text-animation 3.6s ease infinite;
            animation: text-animation 3.6s ease infinite;
    position: absolute;
    left: 0;
  }
  
  @-webkit-keyframes circle-outer {
    0% {
      stroke-dashoffset: 25;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 301;
    }
    80% {
      stroke-dashoffset: 276;
    }
    100% {
      stroke-dashoffset: 276;
    }
  }
  
  @keyframes circle-outer {
    0% {
      stroke-dashoffset: 25;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 301;
    }
    80% {
      stroke-dashoffset: 276;
    }
    100% {
      stroke-dashoffset: 276;
    }
  }
  @-webkit-keyframes circle-middle {
    0% {
      stroke-dashoffset: 17;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 204;
    }
    80% {
      stroke-dashoffset: 187;
    }
    100% {
      stroke-dashoffset: 187;
    }
  }
  @keyframes circle-middle {
    0% {
      stroke-dashoffset: 17;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 204;
    }
    80% {
      stroke-dashoffset: 187;
    }
    100% {
      stroke-dashoffset: 187;
    }
  }
  @-webkit-keyframes circle-inner {
    0% {
      stroke-dashoffset: 9;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 106;
    }
    80% {
      stroke-dashoffset: 97;
    }
    100% {
      stroke-dashoffset: 97;
    }
  }
  @keyframes circle-inner {
    0% {
      stroke-dashoffset: 9;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 106;
    }
    80% {
      stroke-dashoffset: 97;
    }
    100% {
      stroke-dashoffset: 97;
    }
  }
  @-webkit-keyframes text-animation {
    0% {
      -webkit-clip-path: inset(0 100% 0 0);
              clip-path: inset(0 100% 0 0);
    }
    50% {
      -webkit-clip-path: inset(0);
              clip-path: inset(0);
    }
    100% {
      -webkit-clip-path: inset(0 0 0 100%);
              clip-path: inset(0 0 0 100%);
    }
  }
  @keyframes text-animation {
    0% {
      -webkit-clip-path: inset(0 100% 0 0);
              clip-path: inset(0 100% 0 0);
    }
    50% {
      -webkit-clip-path: inset(0);
              clip-path: inset(0);
    }
    100% {
      -webkit-clip-path: inset(0 0 0 100%);
              clip-path: inset(0 0 0 100%);
    }
  }
  