/* fonts */
@font-face {
    font-family: 'Open-sans';
    src: local('OpenSansRegular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Open-sans';
    src: local('OpenSansSemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Open-sans';
    src: local('OpenSansBold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

/* common specification */
html {
    box-sizing: border-box;
}

body {
    font-family: 'Open-sans', sans-serif;
    margin: 0;
    background-color: var(--color-wild-sand);
}

*,*::after,*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.site-btn {
    background-color: var(--color-emerald);
    color: var(--color-white);
}

:root {
    --color-black3: #333333;
    --color-white: #ffffff;
    --color-wild-sand: #f5f5f5;
    --color-silver-chalice: #b0b0b0;
    --color-emerald: #34c759;
    --color-gray-suit: #c8c5d1;
    --color-mischka: #e7e5eb;
    --color-athens-gray: #f4f3f6;
    --color-burnt-sienna: #f06a4d;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-modal {
    position: fixed;
    overflow-x: auto;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    opacity: 0;
}

.site-modal__content {
    max-width: 450px;
    cursor: auto;
    position: absolute;
    padding: 25px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    opacity: 0;
}

.site-tooltip {
    position: absolute;
    top: -41px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    padding: 7px 15px;
    background-color: var(--color-black3);
}

.site-tooltip::before {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    clip-path: polygon(100% 0, 0 0, 51% 100%);
    background-color: var(--color-black3);
}